* {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
}
.err {
  margin: 5px 5px 5px 0px;
  text-align: center;
  min-width: 310px;
  padding: 5px;
  display: inline-block;
  background-color: rgb(255, 215, 215);
  border: 1px solid rgb(255, 164, 164);
  color: rgb(170, 0, 0);
}