form {
    margin: auto;
    width: 700px;
}
.formRight .inputWrapper label {
    width: 130px;
}
form div {
    display: inline-block;
}
.inputWrapper, .err {
    border-radius: 5px;
}
.inputWrapper {
    padding: 10px;
    width: 300px;
    margin: 0px 10px 10px 0px;
    display: block;
    background-color: #F6F6F6;
    border: 1px solid #e4e4e4;
    color: #8a8a8a;
}
.inputWrapper label, .inputWrapper input, form {
    display: inline-block;
}
.inputWrapper label {
    width: 100px;
    text-align: left;
}
.inputWrapper input {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}
.submitWrapper {
    width: 94%;
    text-align: center;
}
input[type=submit], button {
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: #e2e2e2;
    width: 175px;
    color: #5e5e5e
}
input[type=submit]:hover, button:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}